@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes floatOut {
  0% {
    opacity: 1;
    font-size: 0.5rem;
    transform: translate(-50%, -50%) translate(0, 0);
  }
  50% {
    font-size: 2rem;
  }
  100% {
    opacity: 0;
    font-size: 2.5rem;
    transform: translate(-50%, -50%) translate(
      calc(cos(var(--float-angle)) * var(--float-distance)),
      calc(sin(var(--float-angle)) * var(--float-distance))
    );
  }
}
